doctype html
html(lang=locale)
  head
    title= t('emails.contributionDeleted.subject')
  body
    h1(style='margin-bottom: 24px;')= t('emails.contributionDeleted.subject')
    #container.col
      include ../hello.pug
      p= t('emails.contributionDeleted.contributionDeleted', { senderFirstName, senderLastName, contributionMemo })
      p= t('emails.contributionDeleted.toSeeContributionsAndMessages')
      p
        = t('emails.general.linkToYourAccount')
        = " "
        a(href=overviewURL) #{overviewURL}
      p= t('emails.general.pleaseDoNotReply')
      include ../greatingFormularImprint.pug
