header
  .head.wf-section(class="header")
    img.head-logo(
      alt="Gradido Logo"
      loading="lazy"
      src="https://gdd.gradido.net/img/brand/gradido-logo.png"
      )
    img.head-image(
      alt=""
      loading="lazy"
      src="https://gdd.gradido.net/img/template/Blaetter.png"
    )
