extend ../layout.pug

block content
  .wrapper.wf-section
    .w-container(class="wrapper_head")
      h1.headline.h1= t('emails.accountMultiRegistration.title')
      .text-block
        include ../includes/salutation.pug
        p
          = t('emails.accountMultiRegistration.emailReused')
          br
          = t('emails.accountMultiRegistration.emailExists')
    .content.w-container
      h2.heading= t('emails.resetPassword.title')
      div(class="p_content")= t('emails.accountMultiRegistration.emailExists')
      a.button-3.w-button(href=resendLink) #{t('emails.general.reset')}
      //- div(class="p_content")= t('emails.accountMultiRegistration.onForgottenPasswordCopyLink')
      h2.heading-2 Support kontaktieren
      div(class="p_content")= t('emails.accountMultiRegistration.ifYouAreNotTheOne')
      br
      a(href='mailto:' + supportEmail)= supportEmail
