extend ../layout.pug

block content
  h2= t('emails.transactionReceived.title', { senderFirstName, senderLastName, transactionAmount })
  .text-block
    include ../includes/salutation.pug
    p= t('emails.transactionReceived.haveReceivedAmountGDDFrom', { transactionAmount, senderFirstName, senderLastName, senderEmail })
  .content
    h2= t('emails.general.transactionDetails')
    div(class="p_content")= t('emails.general.detailsYouFindOnLinkToYourAccount')
    
    a.button-3(href=`${communityURL}transactions`) #{t('emails.general.toAccount')}

    include ../includes/doNotReply.pug

