extend ../layout.pug

block content
  h2= t('emails.transactionReceived.title', { senderFirstName, senderLastName, transactionAmount })
  .text-block
    include ../includes/salutation.pug
    p= t('emails.transactionReceived.haveReceivedAmountGDDFrom', { transactionAmount, senderFirstName, senderLastName, senderEmail })
  .content
    h2= t('emails.general.transactionDetails')
    div(class="p_content")= t('emails.general.detailsYouFindOnLinkToYourAccount')
    
    a.clink(href="https://gdd.gradido.net/transactions") #{t('emails.general.toAccount')}
    br
    br
    br

    include ../includes/doNotReply.pug

