doctype html
html(lang=locale)
  head
    title= t('emails.transactionReceived.subject')
  body
    h1(style='margin-bottom: 24px;')= t('emails.transactionReceived.subject')
    #container.col
      p(style='margin-bottom: 24px;')= t('emails.general.helloName', { firstName, lastName })
      p= t('emails.transactionReceived.haveReceivedAmountGDDFrom', { transactionAmount, senderFirstName, senderLastName, senderEmail })
      p= t('emails.general.detailsYouFindOnLinkToYourAccount')
        span= " "
        a(href=overviewURL) #{overviewURL}
      p= t('emails.general.pleaseDoNotReply')
      p(style='margin-top: 24px;')= t('emails.general.sincerelyYours')
        br
        span= t('emails.general.yourGradidoTeam')
