extend ../layout.pug

block content
  h2= t('emails.transactionReceived.title', { senderFirstName, senderLastName, transactionAmount })
  .text-block
    include ../includes/salutation.pug
    p= t('emails.transactionReceived.haveReceivedAmountGDDFrom', { transactionAmount, senderFirstName, senderLastName, senderEmail })
  .content
    h2= t('emails.general.message')
    .child-left
      div(class="p_content")= memo
    .child-right
      a.button-5(href= `mailto:${senderEmail}?subject=${encodeURIComponent(t('emails.transactionReceived.subject', { senderFirstName, senderLastName, transactionAmount }))}`)  
        include ../includes/chatbox-icon.pug 
        span #{t('emails.general.answerNow')}
    
  a.button-3(href=`${communityURL}/transactions`) #{t('emails.general.toAccount')}

  

