extend ../layout.pug

block content
  .text-block
    include ../includes/salutation.pug
    p
      = t('emails.customEmail.haveReceivedMessageFrom', { senderFirstName, senderLastName })

  .subject-block
    div(class="p_content")= subject

  .memo-block
    div(class="p_content")= memo
  if senderCommunityUuid && senderUuid
    a.button-3(href=`${communityURL}/send/${senderCommunityUuid}/${senderUuid}`) #{t('emails.general.toAccount')}
  else
    a.button-3(href=`${communityURL}/send`) #{t('emails.general.toAccount')}
