extend ../layout.pug

block content  
  mixin mailto(email, subject)
    - var formattedSubject = encodeURIComponent(subject)
    a(class!=attributes.class href=`mailto:${email}?subject=${formattedSubject}`)
      block

  .text-block
    include ../includes/salutation.pug
    p 
      = t('emails.customEmail.haveReceivedMessageFrom', { senderFirstName, senderLastName })   

  .subject-block
    div(class="p_content")= subject

  .memo-block
    div(class="p_content")= memo
    
  a.button-3(href=`${communityURL}/send`) #{t('emails.general.toAccount')}

  

