extend ../layout.pug

block content  
  mixin mailto(email, subject)
    - var formattedSubject = encodeURIComponent(subject)
    a(class!=attributes.class href=`mailto:${email}?subject=${formattedSubject}`)
      block

  - var subject= t('emails.customEmail.subject', { senderFirstName, senderLastName })
  - var betreff= t('emails.customEmail.betreff', { subject })
  .text-block
    include ../includes/salutation.pug
    p 
      = t('emails.customEmail.haveReceivedMessageFrom', { senderFirstName, senderLastName })
      |  (
      +mailto(senderEmail, subject)=senderEmail
      |).     
  .content
    h2= t('emails.customEmail.betreff', { subject })
    .child-left
      div(class="p_content")= memo
    
  a.button-3(href=`${communityURL}/send`) #{t('emails.general.toAccount')}

  

