//- 
requestNewLink
  h2= t('emails.general.requestNewLink')

  if timeDurationObject.minutes == 0
    div(class="p_content")= t('emails.general.linkValidity', { hours: timeDurationObject.hours })
  else
    div(class="p_content")= t('emails.general.linkValidityWithMinutes', { hours: timeDurationObject.hours, minutes: timeDurationObject.minutes })

  a.button-4(href=resendLink) #{t('emails.general.newLink')}