doctype html
html(lang="en")
  head
    title= subject
  body
    h1 Gradido: Erneuter Registrierungsversuch mit deiner E-Mail
    #container.col
      p Hallo #{firstName} #{lastName},
      br
      p Deine E-Mail-Adresse wurde soeben erneut benutzt, um bei Gradido ein Konto zu registrieren.
        br
        | Es existiert jedoch zu deiner E-Mail-Adresse schon ein Konto.
      p Klicke bitte auf den folgenden Link, falls du dein Passwort vergessen haben solltest:
        br
        a(href=resendLink) #{resendLink}
        br
        | oder kopiere den obigen Link in dein Browserfenster.
      p Wenn du nicht derjenige bist, der sich versucht hat erneut zu registrieren, wende dich bitte an unseren support:
      a(href='https://gradido.net/de/contact/') https://gradido.net/de/contact/
      p Mit freundlichen Grüßen,
        br
        | dein Gradido-Team
