extend ../layout.pug

block content
  h2= t('emails.addedContributionMessage.title')
  .text-block
    include ../includes/salutation.pug
    p= t('emails.addedContributionMessage.commonGoodContributionMessage', { senderFirstName, senderLastName, contributionMemo })
  .content
    h2= t('emails.addedContributionMessage.readMessage')
    div(class="p_content")= t('emails.addedContributionMessage.toSeeAndAnswerMessage', { message })

    a.button-3(href=`${contributionFrontendLink}`) #{t('emails.general.toAccount')}

    include ../includes/doNotReply.pug
