doctype html
html(lang=locale)
  head
    title= t('emails.accountActivation.subject')
  body
    h1(style='margin-bottom: 24px;')= t('emails.accountActivation.subject')
    #container.col
      include ../hello.pug
      p= t('emails.accountActivation.emailRegistered')
      p
        = t('emails.accountActivation.pleaseClickLink')
        br
        a(href=activationLink) #{activationLink}
        br
        = t('emails.general.orCopyLink')
      p
        = t('emails.accountActivation.duration', { hours: timeDurationObject.hours, minutes: timeDurationObject.minutes })
        br
        a(href=resendLink) #{resendLink}
      include ../greatingFormularImprint.pug
