extend ../layout.pug

block content
  if logoUrl
    img(src=logoUrl, alt="Banner", style="max-width: 680px; max-height: 250px;border-radius:20px")
  h2= t('emails.accountActivation.title')
  .text-block
    include ../includes/salutation.pug
    p= t('emails.accountActivation.emailRegistered')
  .content
    h2= t('emails.general.completeRegistration')
    div(class="p_content")= t('emails.accountActivation.pleaseClickLink')
    a.button-3(href=activationLink) #{t('emails.accountActivation.activateAccount')}
    div(class="p_content")= t('emails.general.orCopyLink')

    a.clink(href=activationLink) #{activationLink}

    include ../includes/requestNewLink.pug
