doctype html
html(lang=locale)
  head
    title= t('emails.transactionLinkRedeemed.subject')
  body
    h1(style='margin-bottom: 24px;')= t('emails.transactionLinkRedeemed.subject')
    #container.col
      p(style='margin-bottom: 24px;')= t('emails.general.helloName', { firstName, lastName })
      p= t('emails.transactionLinkRedeemed.hasRedeemedYourLink', { senderFirstName, senderLastName, senderEmail })
      p
        = t('emails.general.amountGDD', { amountGDD: transactionAmount })
        br
        = t('emails.transactionLinkRedeemed.memo', { transactionMemo })
      p
        = t('emails.general.detailsYouFindOnLinkToYourAccount')
        = " "
        a(href=overviewURL) #{overviewURL}
      p= t('emails.general.pleaseDoNotReply')
      p(style='margin-top: 24px;')
        = t('emails.general.sincerelyYours')
        br
        = t('emails.general.yourGradidoTeam')
