doctype html
html(lang=locale)
  head
    title= t('emails.addedContributionMessage.subject')
  body
    h1(style='margin-bottom: 24px;')= t('emails.addedContributionMessage.subject')
    #container.col
      p(style='margin-bottom: 24px;')= t('emails.general.helloName', { firstName, lastName })
      p= t('emails.addedContributionMessage.commonGoodContributionMessage', { senderFirstName, senderLastName, contributionMemo })
      p= t('emails.addedContributionMessage.toSeeAndAnswerMessage')
      p= t('emails.addedContributionMessage.linkToYourAccount')
        span= " "
        a(href=overviewURL) #{overviewURL}
      p= t('emails.addedContributionMessage.pleaseDoNotReply')
      p(style='margin-top: 24px;')= t('emails.general.sincerelyYours')
        br
        span= t('emails.general.yourGradidoTeam')
